<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/10.5/phpunit.xsd"
         bootstrap="tests/bootstrap.php"
         colors="true"
         cacheDirectory=".phpunit.cache"
         failOnWarning="true"
         failOnRisky="true">
    <testsuites>
        <testsuite name="WayaPay">
            <directory>tests</directory>
        </testsuite>
    </testsuites>

    <!-- Live tests hit the real API; they are excluded by default. Run with: phpunit (group) live -->
    <groups>
        <exclude>
            <group>live</group>
        </exclude>
    </groups>

    <source>
        <include>
            <directory>src</directory>
        </include>
    </source>
</phpunit>
